* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    background-color: #d9dcd6;
}


/* Minor changes in the header, only changing the names to reflect changes in the index. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}



a {
    color: #ffffff;
    text-decoration: none;
}



p {
    font-size: 16px;
}


/* This was changed to reflect the new tag. */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* More significant changes here, changed names to reflect changes to the index, but also condenced the css to cover all h2s and sections instead of styling each individually. */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.float-left-img {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right-img {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}


/* Again, significant changes here, changed names to reflect changes to the index, but also condenced the css to cover all h3s and sections instead of styling each individually. I also had to remove the aside's height = 100% value for a reason I'm unsure of. My first chnage was to use the footer tag, this changed the height calue's behavior.*/ 
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* Here I changed the name to reflect the index. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
